.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
    padding-right: 7px;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(193, 193, 193);
}

// .header-query{

// }

$header-font-size: .875rem;

.header-query{
    align-self: flex-end;
    position: relative;
    display: inline-block;
    // padding-bottom: -0.3em;
}

.header-query textarea{
    position: absolute;
    padding: .5rem 1.5rem .5rem .5rem;
    resize: none;
    border-radius: .2rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    width: 30em;
    margin-left: -32.7em;
    top: -0.6em;
}

.header-query .icon{
    margin-left: -1.5rem;
    bottom: 0.2em;
    cursor: pointer;
    position: relative;
}

.header-buttons{
    align-self: flex-end;
}

.header-buttons i{
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    border: 1px solid transparent;
    padding: .2rem .6rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


.header-buttons i{
    background-color: #007bff;
    width: 18px;
}

.header-buttons .active i {
    background-color: white;
    color: #007bff;
    border-color: #007bff;
}


.newword-form{
    border-radius: 5px;
    background-color: white;
    padding: 5px 20px 20px 20px;
    width: 300px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.newword-form .word-input, .newword-form textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.newword-form .word-input.error{
    background-color: #FFD2D2;
}

.newword-form .label{
    display: inline-block;
    font-weight: bold;
    padding-top: 10px;
}

.newword-form textarea{
    height: 100px;
}


.header-buttons {
    button:not(:first-child){
        padding-left: 7px;
    }
    .save i{
        border: none;
        color: white;
        background-color: #4CAF50;
    }
    .cancel i{
        border: none;
        color: white;
        background-color: #FF4500;
    }
}