
.table_info{
    font-size: 13px;
}

.word-table{
    width: 100%;
    // table-layout:   fixed;
    border-collapse: collapse;

    tr{
        &:nth-child(even){
            background-color: #f2f2f2;
        }
        th{
            font-size: 20px;
            text-align: left;
            padding-top: 6px;
            padding-bottom: 6px;
            background-color: #4CAF50;
            color: white;
            &:first-child{
                width: 20%;
            }
            &:nth-child(2){
                width: 50%;
            }
            &:nth-child(3){
                width: 30%;
                cursor: text;
            }
    
    
        }
        td{
            a{
                content: "";
                border-left: 4px dotted rgb(103, 103, 103);
                cursor: move;
                display: inline;
                padding-right: 10px;
            }
            .content{
                display: inline;
                text-align: center;
            }
            .description{
                max-height: 150px;
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .tags{
                color: rgb(21, 135, 205);
                font-weight: bold;
                span{
                    white-space:nowrap;
                    padding-right: 7px;
                    &::before{
                        content: "#";
                    }
                }
            }
            &:nth-child(3){
                cursor: text;
            }
            &:nth-child(4){
                position: absolute;
                visibility: hidden;
                border: none;
                .controls{
                    padding-bottom: 10px;
                    button{
                        padding: 5px;
                        font-size: 120%;
                        cursor: pointer;
                    }
                    .edit, .review{
                        color: #007bff;
                    }
                    .delete{
                        color: red;
                    }
                }
            }
        }


        th, td{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 7px 4px 7px 8px;
        }
    
    
    }

    tr.reviewed{
        background-color: #f1f1e2;
    }

    tr:hover td:nth-child(4){
        visibility: visible;
    }

    tbody > tr:not(.reviewed){
        &:hover{
            box-shadow: inset 5px 5px 10px -8px;
        }
    }


}



.hide .content{
    opacity: 0;
    &:hover{
        opacity: 1;
    }
}

.hide .uncover.content{
    opacity: 1;
}

.busy::after{
    content: '';
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow: auto;
}