$tag-font-size: 15px;
$tag-color: rgb(32, 166, 249); 

.react-tags{
    color: $tag-color;
}

.word-tag{
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 7px;
    padding: 0 5px 0 1px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    font-size: $tag-font-size;
    font-weight: bold;
}

.word-tag::before{
    content: '#';
}

.word-tag-del{
    visibility: hidden;
    padding-left: 4px;
    font-weight: normal;
    cursor: pointer;
    color: red;
    user-select: none;
}

.word-tag:hover .word-tag-del{
    visibility: visible;
}

.react-tags__selected {
    display: inline;
  }
  

.react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
}



.react-tags__search-input{
    font-size: $tag-font-size;
    border: none;
    color: $tag-color;
    font-weight: bold;
}

.react-tags__search-input:focus{
    outline: none;
}

.react-tags__search-wrapper::before{
    content: "#";
    padding-left: 1px;
}

.react-tags__search-wrapper{
    border: 1px solid #ced4da;
    border-radius: .2rem;
    font-weight: bold;
    background-color: white;
}