$tag-font-size: 15px;
.word-tag{
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0 2px 0 6px;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    font-size: $tag-font-size;
    color: rgb(32, 166, 249);
    font-weight: bold;
}

.word-tag::before{
    content: '#';
}

.word-tag-del{
    visibility: hidden;
    padding-left: 8px;
    padding-right: 4px;
    cursor: pointer;
}

.word-tag:hover .word-tag-del{
    visibility: visible;
    color: red;
}

.react-tags__selected {
    display: inline;
  }
  

.react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
}


.react-tags__search-input{
    font-size: $tag-font-size;
    border: none;
    padding: 5px 8px 5px 8px;
    border-radius: .2rem;
    border: 1px solid #ced4da;
}
