$tag-font-size: 15px;
$tag-padding: 0 20px 0 6px; 
.word-tag{
    display: inline-block;
    margin-right: 6px;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: $tag-padding;
    border: 1px solid #D1D1D1;
    border-radius: 2px;
    font-size: $tag-font-size;
    color: rgb(32, 166, 249);
    font-weight: bold;
}

.word-tag::before{
    content: '#';
}

.word-tag-del{
    display: none;
    margin-left: 4px;
    cursor: pointer;
}

.word-tag:hover .word-tag-del{
    display: inline-block;
    position: absolute;
    color: red;
}

.react-tags__selected {
    display: inline;
  }
  

.react-tags__search {
    display: inline-block;
  
    /* match tag layout */
    padding: 7px 2px;
  
    /* prevent autoresize overflowing the container */
    max-width: 100%;
}


.react-tags__search-input{
    font-size: $tag-font-size;
    border: none;
    padding: 3px 0 3px 0;
}

.react-tags__search-input{
    border-radius: .2rem;
    border: 1px solid #ced4da;
}
