$button-color: rgba(0, 0, 0, 0.409);

.wordcard-wrapper{
    border-radius: 4px;
    margin: 0 auto;
    width: 730px;
    
    .close{
        float:right;
        padding: 20px;
        margin: 0 -65px -50px 0;
        font-size: 35px;
        position: relative;
        color: white;
        cursor: pointer;
        &:hover, &:focus{
            text-decoration: none;
            color: black;    
        }
    }

    .info{
        float: left;
        color: white;
        font-weight: bolder;
        font-size: 90%;
        font-style: italic;
    }

    .wordcard-nav{
        background: #EEDFDE;
        align-items: stretch;
        display: flex;
        min-height: 400px;
        width: 100%;
        justify-content: space-between;
        // overflow-y: auto;
        .nav-left, .nav-right{
            display: flex;
            padding: 0 20px;
            align-items: center;
            color: $button-color;
            cursor: pointer;
            &:hover{
                color: black;
            }
        }

        .nav-left{
            order: 0;
            &:hover{
                box-shadow: 5px 0 15px -10px;
            }
        }
        .nav-right{
            order: 3;
            &:hover{
                box-shadow: -5px 0 15px -10px;
            }
        }

        .wordcard{
            padding: 10px 0 40px 10px;
            order: 1;
            width: 100%;
            overflow-x: auto;
            position: relative;
            $review-color: #d00;
            .content{
                display: block;
                text-align: center;
                font-size: 250%;
            }
            .tags{
                margin-top: -15px;
                color: rgb(21, 135, 205);
                font-weight: bold;
                margin-bottom: 10px;
                span{
                    padding-right: 7px;
                    &::before{
                        content: "#";
                    }
                }
            }
            .description{
                padding: 0 10px 0 0;
                p{
                    margin: 2px 0 2px 0;
                }
            }
            .buttons {
                margin-bottom: 20px;
                vertical-align: bottom;
                position: absolute;
                bottom: 0;
                button{
                    $button-color: $review-color;
                    color: $button-color;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 3px;
                    font-size: 110%;
                    border: 1px solid;
                    &:hover{
                        background-color: $button-color;
                        border-color: $button-color;
                        color: white;
                    }
                }
            }

            &:after {
                border: solid 1.1px $review-color;
                border-radius: .2em;
                color: $review-color;
                content: '閲';
                font-weight: bold;
                line-height: 1;
                position: absolute;
                padding: 5px 5px;
                margin: 0 auto;
                top: 80px;
                right: 10%;
                visibility: hidden;
                transform-origin: 50% 50%;
                transform: rotate(-20deg) scale(2);
                transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            }

        }
    }
}

.wordcard-wrapper.reviewed .wordcard-nav .wordcard::after{
    visibility: visible;
}