.tooltip-wrapper{
    position: relative;
    display: inline-block;
  }
  
  
  .tooltip-tooltip{
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip-wrapper.active .tooltip-tooltip{
    visibility: visible;
  }