.app{
  margin: auto;
  min-width: 600px;
  padding: 20px 12% 100px 12%;
  /* font-size: 6px; */
  line-height: 1.6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-wrap: break-word;
  word-break: normal;
}

button{
  border: none;
  padding: 0;
  background-color: transparent; 
}

button:focus {
  outline: none;
}

button:disabled{
  opacity: 0.5;
}