.app{
  margin: auto;
  width: 70%;
  min-width: 600px;
  /* font-size: 6px; */
  line-height: 1.6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-wrap: break-word;
  word-break: normal;
}